.section-title {
  margin: 0;
  width: 100%;
  color: #fff;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  padding-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 769px) {
  .section-title {
    padding-top: 90px;
  }
}
@media screen and (max-width: 670px) {
  .section-title {
    font-size: 18px;
    line-height: 22px;
    padding-top: 70px;
    padding-bottom: 28px;
    letter-spacing: -0.7px;
  }

  .section-title_type_techs {
    border-color: #000;
  }
}
