.auth {
  min-height: 100vh;
  padding: 70px 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.auth__container {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth__main-link {
  display: block;
}

.auth__logo {
  display: block;
  width: 38px;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.auth__title {
  margin: 40px 0 0;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.auth__form {
  width: 100%;
  min-height: 395px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.auth__error {
  min-height: 12px;
  margin: 5px 0 auto;
  color: #EE3465;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
}

.auth__submit-button {
  padding: 13px 14px 15px;
  background-color: #4285F4;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  transition: opacity .3s, background-color .3s, color .3s;
  cursor: pointer;
}

.auth__submit-button:disabled {
  background-color: #cbc4c4;
  color: #8B8B8B;
}

.auth__paragraph {
  margin: 16px 0 0;
  display: flex;
  gap: 7px;
  align-self: center;
  color: #8B8B8B;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

.auth__link {
  color: #4285F4;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .auth {
    padding: 232px 30px 232px;
  }
}

@media screen and (max-width: 670px) {
  .auth {
    padding: 56px 30px 30px;
  }

  .auth__container {
    align-items: center;
  }

  .auth__title {
    margin-top: 50px;
  }

  .auth__form {
    justify-content: space-between;
    margin-top: 65px;
    height: 100%;
  }

  .auth__error {
    margin-bottom: auto;
  }

  .auth__submit-button {
    padding: 15px;
    font-size: 12px;
    line-height: 1.25;
  }

  .auth__paragraph {
    margin-top: 14px;
    font-size: 12px;
    line-height: 1.25;
    gap: 7px;
  }
}
